html{
    font-family: 'Times New Roman', Times, serif;
}
.greendiv{
    color:olivedrab;
}
#htmldemo{
    color:red;
    height: 50px;
    width: 440px;
    background-color: rgb(192, 206, 226);
    font-size: larger;
    font-weight: 500;
    
}

/* multi
line 
comment
*/


#root     {
    color: red;
     height: 150px;
     width:240px;
   border: 2px solid springgreen;
}

#parent     {
    color: rgb(23 122 180);
     height: 120px;
     width: 140px;
   border: 2px solid springgreen;
}

#child    {
    color: red;
     height: 60px;
     width: 100px;
   border: 2px solid springgreen;
}