html{
    font-family: 'Times New Roman', Times, serif;
}
.greendiv{
    color:olivedrab;
}
#htmldemo{
    display: inline-block;
    color:rgba(146, 56, 56, 0.459);
    height: 50px;
    width: 440px;
    background-color: rgb(103, 142, 196);
    font-size: larger;
    font-weight: 950; 
}

/* multi
line 
comment
*/


#root     {
    color: red;
     height: 300px;
     width:300px;
   border: 2px solid springgreen;
}



#child    {
    color: red;
     height: 210px;
     width: 210px;
   border: 2px solid springgreen;
}


#cssfixedproperty{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100px;
    height: 100px;
    background-color: rgb(235, 190, 190);

}





#cssrelativeproperty{
    position: relative;
    top: 100px;
    left:100px;
    width: 100px;
    height: 100px;
    background-color: rgb(88, 161, 209);

}




#parent     {
    position:fixed;
    color: rgb(23 122 180);
     height: 240px;
     width: 240px;
     bottom: 0px;
   border: 6px solid rgb(121, 128, 124);
}
#cssabsoluteproperty{
    position:absolute;
   top: 30px;
    left:20px;
    width: 100px;
    height: 100px;
    background-color: rgb(231, 231, 231);
}






#cssstickyproperty{
    position:sticky;
    top:100px;
    left:120px;
    width: 100px;
    height: 100px;
    background-color: rgb(76, 14, 248);
}

