
*{
    padding: 0px;
    margin: 0px;
    font-family: 'josefin sans', sans-serif;
    box-sizing: border-box;
}


#rohit{
    height: 100vh;
    width: 100%;
        color: rgb(209, 209, 209);
        background-image: url(../rohit.jpeg);
        background-size: cover;
        background-position-x: center;
        
        font-family: cursive;
    
}
#sharma{
    font-size: 40px;
    font-weight: bolder;
    color: deepskyblue;

}
#sharma{
    font-size: 20px;
    font-weight: inherit;
    color: rgb(47, 0, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}




#adv{
    
    height:100px;
    width:300px;
    background-color: lightgray;
    bottom:50px;
    left:100px;
    position:fixed;
}



















