#rohit{
        color: cadetblue;
        background-color: cornsilk;
        font-family: cursive;
    
}
#sharma{
    font-size: 40px;
    font-weight: bolder;
    color: deepskyblue;

}
#sharma{
    font-size: 20px;
    font-weight: inherit;
    color: rgb(47, 0, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}