
*{
    padding: 0px;
    margin: 0px;
    font-family: 'josefin sans', sans-serif;
    box-sizing: border-box;
}


#rohit{
        height: 100vh;
        width: 100%;
        color: rgb(209, 209, 209);
        background-image: url(../sharma.jpg);
        background-size: cover;
        background-position-x: center;
        font-family: cursive;
}
#sharma{
    margin: 50px;
    padding: 20px;
    font-size: 20px;
    font-weight: bolder;
    color: deepskyblue;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
    border:2px solid rgb(133, 124, 124);
    border-radius: 30px;



}

#achievements{
    margin: 50px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bolder;
    color: deepskyblue;
}




#adv{
    
    height:100px;
    width:300px;
    background-color: lightgray;
    bottom:50px;
    left:100px;
    position:fixed;
}


















